.center {
  display: flex;
  justify-content: space-between;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
}

.block {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block:hover {
  background-color: #75F0BC;
}

.text {
  font-size: 50px;
  color: #009456;
}